<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.lib_nested">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".NestedActivity"
            android:label="@string/nested_app_name"></activity>
    </application>
</manifest>
